*{margin: 0; padding: 0;}

.scrolltop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #14aaf2;
    width: 50px;
    cursor: pointer;
    padding: 17px;
    z-index: 99999999;
}
.comment .media {
    margin-bottom: 13px;
}

.chitiet .chitietbody {
    margin: 12px 0;
}

.chitiet .chitietdau h3 {
    font-size: 31px;
}

.chitiet .chitietdau small {
    margin: 5px;
}
.chitiet img{
    width: 80%;
}
.chitiet {
    padding: 10px;
    text-align: justify;
}

.chitiet .chitiettieude {
    margin: 12px 0px;
}

form.form-inline.navbar-form.float-lg-right {
    margin-left: -9px;
}

.logo .col-xs-3 img {
    margin-left: -20px;
}


.navbar-dark .navbar-nav .nav-link {
    color: #0c0c0c!important;
}

button.btn.btn-default.hidden-md-up {
    margin: 6px;
}

.navbar .menu1 ul.navbar-nav li.nav-item a.nav-link {
    font-size: 20px;
    color: #161616;
    font-weight: bold;
}


.footer .content a {
    display: inline-block;
    padding: 9px 7px;
}

.footer .content {
    padding-top: 16px;
}

.footer .content p {
    font-size: 22px;

}

.footer ul {
    list-style: none;
    margin-top: -5px;
    padding-left: 10px;
    font-size: 21px;
}

.footer ul li {
    padding: 7px;
}

.footer .title {
    border-bottom: 1px solid #2c94da;
    padding: 9px 24px;
}

.footer {
    border: 1px solid #2c94da;
    background: #333333;
    color: white;
    margin-top: 10px;
}

.nd2 {
    border-top: 1px solid #2c94da;
    padding: 0;
}


.noidungchinh .nd4 {
    border-top: 1px solid #2c94da;
    margin-bottom: -11px;
}


ul.pagination {
    list-style: none;
    margin-left: 30%;
}

ul.pagination li {
    float: left;
    background: #fef5f5;
    padding: 5px 14px;
    border-radius: 4px;
    border: 1px solid #2c94da;
}

.col-xs-12.noidung3 {
    padding: 19px;
}

.noidungphu .media {
    border-bottom: 1px solid #2c94da;
    padding: 12px 10px;
}

.noidungphu p.label {
    background: rgba(246, 99, 7, 0.79);
    width: 69px;
    font-size: 12px;
    padding-left: 9px;
    margin-top: 15px;
    margin-left: 11px;
}

.noidungphu {
    border: 1px solid #2c94da;
    padding: 0; 
    margin-top: 10px;
}
.noidungphu .ndp1{
    border-bottom: 1px solid #2c94da;
}


.nd {
    margin-top: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #2c94da;
    padding-bottom: 10px;
}

p.lead {
    margin-bottom: 0px;
}

.footer p.lead {
    font-size: 25px;
}



.noidungchinh h4 {
    padding-left: 16px;
    margin-top: 13px;
}

.comment h4.media-heading {
    margin-left: -16px;
}

.noidungchinh {
    margin-top: 10px;
    border: 1px solid #2c94da;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
}
.noidungchinh .nd3 .noidung3{
    clear: both;
    border-top: 1px solid #2c94da;
}
.noidungchinh .nd3 img{
    width: 200px;
}
@media screen and (max-width: 425px){
    .col-xs-12.noidung3 .media .media-body .title{
        margin-left: -205px;
    }
    .noidungchinh .nd4 ul.pagination {
        margin-left: 8%;
    }

}

@media screen and (max-width: 1005px){
    .noidungphu{
        /*display: none;*/
    }
}   
@media screen and (min-width: 1005px){

    .noidungchinh .noidung1{
        border: none;
        border-right: 1px solid #2c94da;

    }
    .nd {
    margin-top: 0px;
    }
    .menu2 .nav li.nav-item:hover{
        background: #fff;
        color: #ccc;
    }
}   


.dropdown-menu a.dropdown-item {
    color: #120c4c;
    padding: 10px 18px;
}

.dropdown-menu a.dropdown-item:hover {
    color: black;
}

.dropdown-menu {
    margin-top: 0px;
    margin-left: 0px;
    border: none;
    background: #2c94da;
}


.menu2 .nav li.nav-item{
    margin: 0;
    border-right: 1px solid #2c94da;
    padding-right: 17px;
    padding-left: 12px;
}

a.navbar-brand {
    border-right: 1px solid #2c94da;
    border-left: 1px solid #2c94da;
    padding: 4px 17px;
    /* background: #fff; */
}
@media screen and (max-width: 999px){
    a.navbar-brand{
        border: none;
    }
    .menu2 .nav li.nav-item{
        border: none;
        padding: 0px 5px;
    }
    .logo .quangcao img {
        width:75%;
        margin-left: 80px;    
    }


}

.navbar-dark .navbar-brand, .navbar-dark .navbar-toggler a {
    color: #0c0c0c;
    margin: 0;    
}




.menu1,.menu2{
    border-radius: 0;
    padding: 0;
}

.bg-inverse {
    background: #2c94da!important;
}




ul.mangxahoi li a {
    margin-right: 25px;
    float: left;
}
ul.mangxahoi li a span:hover{
    border-bottom: 2px solid #2c94da;
    padding-bottom: 2px;
    color: blue;
}

